
@{
    ViewBag.Title = "CariEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using MvcOnlineTicariOtomasyon.Models.Sınıflar
@model Cari

<br />
<h2>Cari Ekle</h2>
<br />

<form class="form-group" method="post">

    <div>
        @Html.LabelFor(x => x.CariAd)
        @Html.TextBoxFor(x => x.CariAd, new { @class = "form-control" })
    </div>
    <br />
    <div>
        @Html.LabelFor(x => x.CariSoyad)
        @Html.TextBoxFor(x => x.CariSoyad, new { @class = "form-control" })
    </div>
    <br />
    <div>
        @Html.LabelFor(x => x.CariSehir)
        @Html.TextBoxFor(x => x.CariSehir, new { @class = "form-control" })
    </div>
    <br />
    <div>
        @Html.LabelFor(x => x.Carimail)
        @Html.TextBoxFor(x => x.Carimail, new { @class = "form-control" })
    </div>
    <br />

    <button class="btn btn-primary">Kaydet</button>
</form>


